<div class="topnav__container">
  <div class="topnav__brand" aria-label="Profile">
    <img src="../../public/assets/logo.png" style="width: auto; height: 2rem" class="topnav__logo" alt="logo">
    <button class="shortcut__icon" onclick="window.history.back()">
      <i class="topnav__search-icon fa-solid fa-arrow-left"></i>
    </button>
    <span class="topnav__title">Perfil de usuario</span>
  </div>

  <div class="topnav__search" role="search">
    <button class="shortcut__icon" id="notification-btn" title="Anuncios">
      <i class="topnav__search-icon fa-regular fa-bell"></i>
    </button>

    <button class="shortcut__icon" id="logout-btn" title="Cerrar Sesión" style="margin-left: 6px;">
      <i class="fa-solid fa-right-from-bracket" style="color: var(--danger);"></i>
    </button>
  </div>
</div>