<div class="topnav__container">
  <!-- Marca visual del sistema y título principal del panel -->
  <div class="topnav__brand" aria-label="Panel de Control">
    <img src="../../Public/assets/logo.png" style="width: auto; height: auto; max-width: 2rem" class="topnav__logo" alt="logo">
    <span class="topnav__title">Panel de control</span>
  </div>
  <!-- Navegación principal entre módulos-->
  <nav class="topnav__nav" aria-label="Enlaces principales">
    <a href="../views/gestion_cargos.html" class="topnav__link " data-nav="inicio">Inicio</a>
    <a href="../views/gestion_cargos_comuneros.html" class="topnav__link" data-nav="comuneros">Comuneros</a>
    <a href="#" class="topnav__link" data-nav="about">Acerca de</a>
  </nav>
  <button class="topnav__logout" id="btn-logout">
    Cerrar sesión
  </button>
</div>